@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quick-font{
    font-family: "Quicksand", serif;
}
*{
    padding: 0;
    margin: 0;
}

/* shared style */
.first-color{
    color: #FEA301;
}
.second-color{
    color: #01ACFD;
}
.common-paragraph{
color: rgb(17, 17, 17);
font-size: 17px;
font-weight: 400;
text-align: left;
}

.common-button{
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 700;
text-align: left;
border-radius: 12px;
background: rgb(17, 17, 17);
padding: 10px 30px;
}
/* banner related styles */

.banner-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 30px 110px;
}
.banner-content{
    width: 563px;
}
.banner-img img{
    width: 100%;
    height: 500px;
}
.banner-content > p{
    margin-top: 23px;
    margin-bottom: 22px;
}
.banner-title{
font-size: 50px;
font-weight: 700;
text-align: left;
}

/* for mobile device */

@media screen and (max-width:576px) {
    .banner-container{
        flex-direction: column-reverse;
        padding: 10px 12px;
    }
    .banner-content >*{
        text-align: center;
    }
    .banner-content > h2{
        font-size: 40px;
    }
    .banner-content{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
}